body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(232, 192, 14);
}

.container {
    width: auto;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    text-align: center;
    background-color: rgb(20, 231, 206);
}